html {
    box-sizing: border-box;
}

*,
*:before.
*:after {
    box-sizing: inherit;
}

.backdrop {
    /* Add background landscape here. */
}

.grid-container {
    max-width: 1140px;
    margin: auto;
    padding: auto;
    background-color: #EEEEEE;
}

.top-row {
    width: 100vh;
    height: calc(100vh / 3);
}

#top-panel-left {
    width: 25%;
    height: 100%;
    float: left;
    background-size: url('../images/archTopRow_right_left.svg');
}

#top-panel-center {
    width: 50%;
    height: 100%;
    background-size: url('../images/archTopRow_long_wide.svg');
}

#top-panel-right {
    width: 25%;
    height: 100%;
    float: right;
    background-size: url('../images/archTopRow_right_left.svg');
}

.bottom-left .bottom-right {
    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
}

#anomie-marquee {
    width: 100%;
    height: 50%;
}

.portals {
    width: 100%;
    height: 50%;
}

#portal-a {
    width: 25%;
    height: 100%;
    background-image: url('../images/archSmall_right_left.svg');
}

#portal-b {
    width: 25%;
    height: 100%;
    background-image: url('../images/archSmall_right_left.svg');
}

#portal-c {
    width: 25%;
    height: 100%;
    background-image: url('../images/archSmall_right_left.svg');
}

#portal-d {
    width: 25%;
    height: 100%;
    background-image: url('../images/archSmall_right_left.svg');
}

#bottom-panel-left {
    width: 50%;
    height: 100%;
    float: left;
    background-image: url('../images/archTall_1.svg');
}

#bottom-panel-right {
    width: 50%;
    height: 100%;
    float: right;
    background-image: url('../images/archTall_window.svg');
}
