html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-size: 0;
    margin: 0;
    padding: 0;

}

body {
    background-image: url('../images/backdrops/amallal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-row {
    height: calc(100vh / 3);
}

.top-row div img, .portals div img, .bottom-right div img { 
    z-index: -10;
    object-fit: cover;
 }

#top-panel-left {
    outline: solid white;   
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    /*background-color: gray;*/
    /*background-image: url('../images/archFrames/arch_toprow_medium.svg');*/
    background-repeat: no-repeat;
    background-size: cover;

}
#top-panel-left:hover {
    /* Add hover affects to top-leftmost window. */
}

#top-panel-center {
    outline: solid white; 
    width: calc(100vw / 2);
    height: inherit;
    float: left;
    /*background-color: lightpink;*/
    /*background-image: url('../images/archFrames/arch_toprow_long.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
}
#top-panel-center:hover {
    /* Add hover affects to long top-center window. */
}

#top-panel-right {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    /*background-color: lightyellow;*/
    /*background-image: url('../images/archFrames/arch_toprow_medium.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
}
#top-panel-left:hover {
    /* Add hover affects to top-rightmost window. */
}


.bottom-left {
    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
    float: left;
}

#anomie-marquee {
    outline: solid white; 
    width: 99.6%;
    height: calc(100vh / 3);
    background-color: #EEEEEE;
}

.portals {
    
    width: inherit;
    height: calc(100vh / 3);
    float: bottom;
}

#portal-a {
    outline: solid white; 
    position: relative;
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    /*background-color: darkseagreen;*/
    /*background-image: url('../images/archFrames/arch_short.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
}
#portal-a:hover {
    /* Add hover affects to first portal tab. */
}

#portal-b {
    outline: solid white; 
    position: relative;
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    /*background-color: mediumpurple;*/
    /*background-image: url('../images/archFrames/arch_short.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
}
#portal-b:hover {
    /* Add hover affects to first portal tab. */
}

#portal-c {
    outline: solid white; 
    position: relative;
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    /*background-color: khaki;*/
    /*background-image: url('../images/archFrames/arch_short.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
}

/*.portals div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #eee;
  right: -3px;
  top: 0;
  z-index: 1000;
}
*/
#portal-c:hover {
    /* Add hover affects to second portal tab. */
}

#portal-d {
    outline: solid white; 
    position: relative;
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    /*background-color: mediumturquoise;*/
    /*background-image: url('../images/archFrames/arch_short.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
}
#portal-d:hover {
    /* Add hover affects to third portal tab. */
}


.bottom-right {

    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
    float: right;
}

#bottom-panel-left {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    /*background-color: darksalmon;*/
    /*background-image: url('../images/archFrames/arch_tall.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
}
#bottom-panel-left:hover {
    /* Add hover affects to tall window. */
}

#bottom-panel-right {
    outline: solid white; 
    width: calc(100vw / 4);
    height: inherit;
    float: right;
    /*background-color: cornflowerblue;*/
    /*background-image: url('../images/archFrames/oct_window.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
}

#bottom-panel-right:hover {
    /* Add hover affects to octagon window. */
}

.svg-top div {
  position: relative;
}

/*.svg-top div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #eee;
  right: -3px;
  top: 0;
}

.svg-top div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: #eee;
  right: 0;
  top: -3px;
}
*/