html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/backdrops/amallal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    height: 100%;
    width: inherit;
    position: absolute;
}

.top-row {
    height: calc(100vh / 3);
}

#top-panel-left {
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    position: relative;
}

#top-panel-center {
    width: calc(100vw / 2);
    height: inherit;
    float: left;
    position: relative;
}

#top-panel-right {
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    position: relative;
}


.bottom-left {
    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
    float: left;
} 

#anomie-marquee {
    width: inherit;
    height: calc(100vh / 3);
    position: relative;
}

.portals {
    width: inherit;
    height: calc(100vh / 3);
    float: bottom;
}

#portal-a {
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    position: relative;
}

#portal-b {
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    position: relative;
}

#portal-c {
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    position: relative;
}

#portal-d {
    width: calc(100vw / 8);
    height: inherit;
    float: left;
    position: relative;
}

.bottom-right {
    width: calc(100vw / 2);
    height: calc(100vh / 3 * 2);
    float: left;
}

.tall-windows {
    width: inherit;
    height: inherit;
    float: bottom;
}

#bottom-panel-left {
    width: calc(100vw / 4);
    height: inherit;
    float: left; 
    position: relative;
}

#bottom-panel-right {
    width: calc(100vw / 4);
    height: inherit;
    float: left;
    position: relative;
}

